@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

Html {
  font-size: 62.5%;
}

header {
  background-color: #f0a83e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  width: 100%;
}

.texto1barra2{
    display: inline-block;
    align-items : center;
    margin-left: 58px;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    flex-direction: row;
    justify-content: space-evenly;
}

.texto2barra2{
    color: white;
}

.logo {
  margin-left: 10px;
}

.menu {
  margin-right: 10px;
}

.menu-desktop{
  display: none;
}

.menu-d {
  display: flex;
  text-decoration: none;
  gap: 10px;
  
}

.menu-d li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  gap:10px;
  
}

.cover{
    display: flex;
    width: 100%;
}
/*NO ME TOMA LA IMAGEN DE FONDO*/
.sec1 {
  background-image: url(../clase_11s/img/bowl-and-pet-daities-on-green-background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 440px;
}

.sec1text1 h2 {
  font-size: 2.5rem;
  background-color: white;
  width: 300px;
  height: 30px;
  text-align: center;
  margin: 15px;
}

.sec1text2 {
  margin-right: 20px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.text2 button {
  background-color: #f0a83e;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
}

.sec2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-align: center;
}

.menu-corto{
    text-align: center;
}

.sec3 ul li{
    display: inline-block;
}
.sec3 ul a{
    font-size: 1.5rem;
    text-decoration: none;
    color:#666666;
}

.img0{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -150px;
}

.toy {
    position: relative;
    top: 20.1rem;
    right: 0.6px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.toy-price{
    color: #F0A83E;
}

.sec4{
    display:flex;
    flex-direction: column;
    text-align: center;
    color: #3C2313;
    font-size: 4rem;
    gap: 20px;
    margin-top: 200px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px
}

.formulario input{
    border-radius: 10px;
    background-color: #3C2313;
    color: white;
    height: 33px;
    width: 200px;
    margin-right: 10px;
    align-self: center;
}

.buttons{ display: flex;
    gap:10px;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    margin: 27px;
}
.button1{
    width: 170px;
    height: 35px;
    border-radius: 20px;
    background-color: #8A8787;
    color: white;
    
}

.button2{
    width: 170px;
    height: 35px;
    border-radius: 20px;
    background-color: #f0a83e;
    color: white;
}

.art1{
  background-color: #f0a83e;
  height: 89px;
  width: 100%;
  
}

.art1div1{
  display: flex;
  gap:10px;
  color: white;
  justify-content: center;
  align-content: center;
  margin-top: 10px;

}

.art1div1 h3{
  font-size: 2rem;

}

img.enviar-correo{
  position: relative;
  bottom: 8px;
  right: 16px;
}


.art1div2{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;

}

.art1div2div1 input{
  border-radius: 20px;
  background-color: white;
  height: 28px;
  width: 226px;
  text-align: center;

}

.art1button{
  border-radius: 20px;
  background-color: #3C2313;
  color: white;
  height: 33px;
  width: 110px;
}

footer{
  background-color: #3C2313;
  height: 330px;
}

.desktop{
  display: none;
  justify-content: space-between;
  align-items: center;
}

.logo-footer-d{
  width: 163px;
  height: 28px;
}

.logo-footer{
  position: relative;
  left: 115px;
  margin: 15px;
}

.contacto-footer{
  display: flex;
  flex-direction: column;
  margin-left: 65px;

}

.copyright{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1rem;
}


@media screen and (min-width: 600px){

  .menu{ display:none
    
  }
  .menu-desktop{
    display: block;
  }

  .contain1{
    background-image: url("../images/plattocomida.png");
    background-position: center;
    background-size: cover;
    
  }
  .text1 h2 {
    font-size: 2.5rem;
    background-color: white;
    padding: 6px;
    width: 323px;
    height: 44px;
    text-align: center;
    margin: 3px;
  }

  .img-centrales{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.desktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo-footer-d{
  width: 163px;
  height: 28px;
  margin-right: 66px;
}

.mobile{
  display: none;
}


.pre-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

}