@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/*Header*/
.barra1{
    padding: 0px;
    margin: 0px;
    position: relative;
    display: flex;
    width: 1024px;
    height: 20px;
    background-color: #222222;
    color: white;
    flex-direction: row;
}
.texto1barra1{
    position: absolute;
    display: inline-block;
    align-items: center;
    margin-top: 4px;
    font-size: 10px;
    font-weight: 400;
    margin-left: 90px;
}
.texto2barra1{
    position: absolute;
    display: inline-block;
    align-items: center;
    margin-top: 4px;
    margin-right: 60px;
    font-size: 10px;
    font-weight: 400;
    left: 882px;
}
.barra2{
    position: relative;
    display: flex;
    width: 1024px;
    height: 62px;
    background-color: #f0a83e;
    flex-direction: row;
    color: white;
}
.texto1barra2{
    display: inline-block;
    align-items : center;
    margin-left: 58px;
    margin-top: 19px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    flex-direction: row;
    justify-content: space-evenly;
}
.texto2barra2{
    color: white;
}
.texto3barra2{
    display: flex;
    overflow: auto;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    margin-left: 453px;
    flex-direction: row;
    justify-content: fl;
}
.cover{
    display: flex;
}
.texto1barra3{
    position: absolute;
    margin-top: 165px;
    margin-left: 658px;
    background-color: white;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    border-radius: 5px;

}
.texto2barra3{
    position: absolute;
    margin-top: 222px;
    margin-left: 740px;
    font-size: 16px;
    font-weight: 400;
}
.botonbarra3{
    position: absolute;
    width: 141px;
    height: 49px;
    left: 767px;
    top: 334px;
    background-color: #F0A83E;
    color: white;
    border: 0px;
    font-size: 16px;
}
/*MAIN*/
.main1{
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.imgmain1{
    width: 67px;
    height: 71px;
    position: absolute;
    margin-top: 20px;
    margin-left: 470px;
}
.texto1main1{
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    margin-top: 96px;
    margin-left: 309px;
    color: #3C2313;
    justify-content: center;
    align-items: center;
}
.texto2main1{
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    margin-top: 163px;
    margin-left: 380px;
}
.main2{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 1024px;
    height: 312px;
    top: 720px;
    margin-left: 95px;
    margin-right: 95px;
    justify-content: safe;
}
.divmain2{
    display: flex;
    flex-flow: column;
}
.p1main2{
    display: flex;
    justify-content: center;
    color: #3C2313;
    font-size: 15px;
}
.p2main2{
    display: flex;
    justify-content: center;
    color: #f0a83e;
    font-size: 15px;
}
.main3{
    display: flex;
    position: absolute;
    margin-top: 1110px;
}
.texto1main3{
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    margin-top: 78px;
    margin-left: 448px;
    color: #3C2313;
    justify-content: center;
    align-items: center;
}