/* Abro header */
.barra1{
    display: block;
    position: absolute;
    width: 100%;
    height: 38px;
    top: 0px;
    background: #1CD1B0;
    z-index: 10;
}
h6{
    position: absolute;
    text-align: left;
    color: black;
    left: 10px;
    top: 0px;
    z-index: 20;
}

.barra2{
    display: block;
    position: absolute;
    width: 100%;
    height: 101px;
    top: 38px;
    background-color: #00669F;
    text-align: left;
    position: fixed;
    z-index: 30;
}
h1{
    text-align: left;
    color: black;
    left: 28px;
    top: 66px;
    z-index: 35;
    position: fixed;
}

/* Cierro header */

.nombre1{
    position: absolute;
    left: 121px;
    top: 559px;
    z-index: 20;
}

.nombre2{
    position: absolute;
    left: 427px;
    top: 559px;
    z-index: 20;
}

.cuadrado{
    position: absolute;
    width: 300px;
    height: 336px;
    justify-content: space-around;
    background: #F3F3F3;
    z-index: 5;
}

.nombre3{
    position: absolute;
    left: 781px;
    top: 559px;
    z-index: 20;
}

/* Abro Footer */
h5{
   position: absolute;
   top: 972px;
   left: 16px;
   color: white;
   z-index: 20;
}

.footer{
    position: absolute;
    width: 100%;
    height: 51px;
    left: 0px;
    top: 972px;
    background: #00669F;
    z-index: 5;
}
/* Cierro Footer */

/* SECCION VER MAS */
h4{
    position: absolute;
    width: 128.78px;
    height: 48.52px;
    background: #00669F;
}
.vermas1{
    left: 117px;
    top: 754px;
    z-index: 20;
    text-align: center;
}
.vermas2{
    left: 447px;
    top: 754px;
    z-index: 20;
    text-align: center;
}
.vermas3{
    left: 777px;
    top: 754px;
    z-index: 20;
    text-align: center;
}
/* CIERRA SECCION VER MAS */

/* SECCION CUADRADOS GRISES */
p{
    position: absolute;
    width: 300px;
    height: 336px;
    position: absolute;
    width: 267px;
    height: 113px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.p1{
    left: 48px;
    top: 604px;
    z-index: 20;
}

.p2{
    left: 378px;
    top: 604px;
    z-index: 20;
}
.p3{
    left: 708px;
    top: 605px;
    z-index: 20;
}

/* CIERRA SECCION CUADRADOS GRISES */


/* IMG */

.coverperfil1{
    position: absolute;
    width: 300px;
    height: 193px;
    left: 32px;
    top: 293px;
}

.coverperfil2{
    position: absolute;
    width: 300px;
    height: 193px;
    left: 362px;
    top: 293px;
}
.coverperfil3{
    position: absolute;
    width: 300px;
    height: 193px;
    left: 692px;
    top: 294px;
}

.fotoperfil1{
    position: absolute;
    width: 120px;
    height: 118px;
    left: 122px;
    top: 421px;
    z-index: 15;
    border-radius: 150px;
}

.fotoperfil2{
    position: absolute;
    width: 122px;
    height: 122px;
    left: 451px;
    top: 419px;
    z-index: 15;
    border-radius: 150px;
}

.fotoperfil3{
    position: absolute;
    width: 122px;
    height: 120px;
    left: 781px;
    top: 420px;
    z-index: 15;
    border-radius: 150px;
}

.corazon1{
    position: absolute;
    left: 53px;
    top: 308px;
    z-index: 20;
}
.corazon2{
    position: absolute;
    left: 383px;
    top: 308px;
    z-index: 20;
}
.corazon3{
    position: absolute;
    left: 713px;
    top: 308px;
    z-index: 20;
}

/* CIERRE IMG */

