@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    width: 1024px;
}
/*BARRA NEGRA*/
.container1{
    width: 100%;
    height: 20px;
    background-color: #222222;
    color: white;
    font-style: normal;
}
.i1{
    text-align: left;
    left: 90px;
    top: 4px;
}
.i2{
    text-align: right;
    left: 882px;
    top: 4px;
}
/*BARRA NEGRA*/

.container2{
    width: 100%;
    height: 62px;
    background-color:#F0A83E;
    color: white;
    font-style: normal;
    font-size: 15px;
    border: 0px;
}
.barra2{
    padding: 15px 0px 15px 0px;
}
.container3{
    position: relative;
    display: inline-block;
    border: 2px solid  white;
    width: 1024;
    height: 409px;
    background-size: cover;
    top: 0px;
    z-index: 1;
}
.img1{
    z-index: 2;
}
.rectangulo1{
    width: 365px;
    height: 54px;
    background-color: white;
    top: 140px;
    left: 648px;
    z-index: 3;
    border-radius: 5px;
    right: 12px;
    text-align: center;
}
.rectangulo2{
    width: 141px;
    height: 49px;
    background-color: #F0A83E;
    top: 253px;
    left: 767px;
    z-index: 3;
    border-radius: 5px;
    right: 12px;
}
.textoimagen1{
    position: absolute;
    top: 165px;
    left: 658px;
    text-align: right;
    font-size: 30px;
    z-index: 4;
}
.textoimagen2{
    position: absolute;
    top: 222px;
    left: 740px;
    text-align: right;
    font-size: 16px;
    z-index: 4;
}
.textoimagen3{
    position: absolute;
    top: 268px;
    left: 790px;
    text-align: right;
    font-size: 16px;
    top: 268px;
    z-index: 4;
}
.centro{
    text-align: center;
    color: #3C2313;

}

