/* 
background-color
background-size
background-image
background-repeat
background-position
*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;500&display=swap');

body{
    font-family: 'Red Hat Mono', monospace;
}
.tipografia{
    font-family: 'Red Hat Mono', monospace;
}
img{
    height: 300px;  
}

.container{
     /*para el contenedor*/
     border: 2px solid black;
     height: 750px;
     width: 400px;
     display: flex;
     flex-wrap: nowrap;
     flex-direction: column-reverse;
     justify-content: space-around;
     align-items: center;
     background-color: bisque;
}
h3{
    background-color: bisque;
    text-align: center;
}

