@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

 /*HEADER*/
.header {
    position: relative;
    width: 1024px;
    Height: 100px;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.h2-header {
    color: green;
    display: inline-block;
    left: 122px;
    top: 36px;
    width: 132px;
    height: 28px;
    justify-content: center;
}
.blanco{
    color: white;
}
.rojo{
    color: red;
}

.imgPizza{
    display: inline-block;
    margin: 10px;
    left: 20px;
    width: 92px;
    height: 80px;
    justify-content: center;
    align-items: flex-start;
}

.divheader {
    display: flex;
    left: 800px;


}

.p-header {
    position: relative;
    display: flex;
    text-align: end;
    margin: 40px 10px;
    font-size: 16px;
    color: #F3F3F3;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
/*CIERRE HEADER*/

/*MAIN*/
main{
    display: flex;
    flex-direction: row;
}
.DivBody1{
    position: absolute;
    width: 490px;
    height: 350px;
    top: 135px;
    left: 19px;
    display: flex;
    background-size: cover;
    border-radius: 5px;
}

.envio{
    position: absolute;
    align-items: flex-start;
    font-size: 24px;
    color: red;
    z-index: 20;
    top: 20px;
    left: 20px;
}
span{
    color: white;
    z-index: 20;
}
.DivBody2{
    position: absolute;
    width: 490px;
    height: 350px;
    top: 135px;
    left: 525px;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 5px;
}


.podio{
    font-size: 24px;
    color: #FC200C;
    margin-top: 26px;
    margin-left: 160px;;
    width: 100%;
}

.fotoylista{
    position: absolute;
    display:flex;
    flex-direction: row;
}

.pizza2 {
    position: relative;
    margin-top: 132px;
    margin-bottom: 89px;
    margin-left: 101px;
}
.top5{
    margin-top: 112px;
    margin-left: 69px;
}

li{
    margin-left: 51px;
   
}

/*CIERRE MAIN*/

/*FOOTER*/
.footer {
    position: absolute;
    width: 1024px;
    Height: 150px;
    top: 500px;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    color: white; 
    align-items: center;
}
.column {
    flex-direction: column;
    margin-left: 20px ;
}

.imgPizza2{
    margin-left: 670px;
    width: 92px;
    height: 80px;
}

.verde{
    color: green;
    
    
}
